
html, body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, "STHeiti Light", "Microsoft YaHei", 'Hiragino Sans GB', 'SimHei', sans-serif;
}


.mNavigation {
	position: fixed;
	width: 100%;
	height: 80px;
	padding-left: 15px;
	background-color: #3F51B5;
	color: white;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.mNavigation ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.mNavigation li {
	float:left;
	cursor: pointer;
	height: 100%;
	min-width: 80px;
	font-size: 20px;
	text-align: center;
	line-height: 80px;
	padding-left: 15px;
	padding-right: 15px;
	color: #ffffff;
}

.mNavigation li:hover {
	color: #ffffff;
	background-color: #303F9F;
}

.mNavigation a {
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #ffffff;
}

.mNavigation a:hover {
	color: #ffffff;
}

.mNavigationSelected {
	background-color: #303f9f;
}

#right_buttons {
	position: absolute;
	right: 20px;
}

#bottom_container {
	padding-top: 80px;
	top: 80px;
	min-height: 1000px;
}

.mSideMenu {
	position: fixed;
	left: 0px;
	display: inline-block;
	min-height: inherit;
	height: 100%;
	width: 350px;
	background-color: #f1f1f1;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

.mSideMenu ul {
	padding-left: 0px;
	height: 80px;
	float: left;
}

.mSideMenu li {
	list-style: none;
	height: 50px;
	width: 320px;
	font-size: 20px;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 0px;
	line-height: 50px;
	color: black;
	cursor: pointer;
	transition: all 0.5s;
}

.mSideMenu li:hover {
	background-color: #cccccc;
	transition: all 0.5s;
}

.mSideMenuSelected:hover {
	background-color:  #757575 !important;
	transition: all 0.5s;
}

.mSideMenuSelected {
	background-color: #757575;
	transition: all 0.5s;
}

.mSideMenuDragger:checked {
	
	background-color: #303f9f;
}

#side_menu {
	transition: all 0.5s;
}

.mDropDownListContainer {
	position: relative;
	
}

.mDropDownList {
	position: absolute;
	top: 80px;
	height: 0px;
	min-width: 150px;
	left: 0px;
	background-color: #3F51B5;
	transition: height 0.5s;
	display: none;
	
}

.mDropDownListContainer:hover .mDropDownList {
	height: auto;
	transition: all 0.5s;
	display: inline-block;
}

.mDropDownListContainer ul {
	padding: 0px;
	margin: 0px;
}

.mDropDownListContainer li {
	float: none;
}

#content {
	display: inline-block;
	width: 100%;
	z-index: -1;
	margin-left: 175px;
	transition: all 0.5s;
}


#image_container {
	text-align: center;
}

#image_container img {
	cursor: pointer;
}

#centerText {
	display: inline-block;
	width: 1000px;
	color: white;
	margin-top: 120px;
	font-size: 100px;
	font-weight: bold;
	text-align: center;
	float: left;
}
