
body {
	/* Extra Features: Background */
	background: url("http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg");
	color: #404040;
	font-size: 11pt;
	font-family:  Georgia, Garamond, serif;
}

h1, h2 {
	color: #a4a400;
	background-color: #f0f0f0;
	font-family: "Century Gothic", Futura, Verdana, sans-serif;
	text-decoration: underline;
	/* Extra Features: Wide headings */
	letter-spacing: 0.2em;
}

h1 {
	text-align: center;
	font-size: 22pt;
	font-weight: bold;
}

h2 {
	text-align: left;
	font-size: 18pt;
	font-weight: normal;
}

a {
	color: #a4a400;
}

blockquote {
	font-style: italic;
	background-color: #ffffc8;
}

/* Extra Features: Pie bullet */
ul {
	list-style-image: url("http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif");
}

/* Extra Features: Borderless image links */
.w3c_valid img {
	border-style: none;
}