extends layout

block content
	form(method='post', action='signin')
		p UserName:
		input(type='text', name='username', value='#{username}')
		p Password:
		input(type='password', name='password')
		p ID:
		input(type='text', name='id')
		p Email
		input(type='text', name='email')
		p Phone:
		input(type='text', name='phone')
		div
			input(type='submit', value='signin')
			input#reset(type='button', value='reset')